*.bin
*.jpg
*.zip
*.png
*.pyc
*.pth
*.pt


points_data/checkpoints/
points_data/final_model_copy/
points_data/final_model_not_used/
points_data/volume_rendering/

points_data/3d_points
points_data/final_model/checkpoints/
points_data/final_model/assignment.txt

build/

instant-ngp

data/nerf/
